body { 
    background-color:#FFFFFF;
    background-image:url("../images/light_alu.png");
    font-family: Arial, Helvetica,sans-serif;
}

.wrapper {
    margin: 0 auto;
    width: 960px;
}

header {
    height:110px;
    position:relative;
}

.logo {
    background: url("../images/logo.png") no-repeat center left transparent;
    float:left;
    width:500px;
    height: 110px;
    position: absolute;
    bottom: 0;
}

/* Use for the logo. H1 is for web spiders (text is hidden on the page) */
h1 {
    float: left;
    text-indent: -9000px;
}

nav {
    float: right;
    width: 400px;
    position: absolute;
    bottom: 0;
    right:0;
}

nav #current, nav a {
    display: inline;
    text-align: center;
    padding: 3px 10px; 
}

nav #current {
    color: #007698;
}

nav a:link,
nav a:visited
{
    text-decoration:none;
    color:#000000;
}

/* Navigation mouseover highlighting */
nav a:hover
{
    color: #00B5CB !important;
}


