<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hey, future Kyle! You just got an message from your form on KyleSwarnerDotCom!</p>
    <p>It's from:</p>
    <p>Name: <%=@userName%></p>
    <p>Email: <%=@userEmail%></p>
    <p>Phone: <%=@userPhone%></p>
    <br />
    <p>Their message is:</p>
    <p><%=@userMessage%></p>
    <br/>
    <p>Have a good one, buddy!</p>
    <p>-Past Kyle</p>
  </body>
</html>