/******
/* Page-Wide CSS
/*/
body
{
	font-family: Century Gothic, sans-serif;
    background: url("fabric_1.png") repeat scroll 0 0 transparent;
}

/* generic class for the text color, used throughout*/
.bluetext
{
    color:#66CCFF;
}

.header-wrapper,
.content-wrapper,
.footer-wrapper 
{
    width: 980px;
    text-align: left;
    margin: 5px auto;
    height:auto;
}

/******
/* Header CSS
/*/
header
{
    margin:50px auto auto 0px;
}

h1 {
    text-indent: -9000px;
    height:0px;
    margin:0px;
}

.pagetitle h2
{
    font-size: 36px;
    float:left;
    margin:0px 8px 0px 0px;
    font-weight:normal;
    line-height:90%;
}

.pagetitle p
{
    font-size:24px;
    margin: 0px 0px 0px 0px;
    line-height:70%;
}

/******
/* Main Content CSS
/*/
.no-js .content-wrapper
{
    margin-top:20px;
}

.content-wrapper
{
    height:auto;r
}

.navpanes
{
    width:70%;
    float:left;
}

.contact
{
    width:28%;
    float:right;
}

div.pane{
	background-color:#66CCFF;
	position: relative;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 7px 7px 4px #888;
}

.pane div {
	padding: 15px;
    height:auto;

}

.navpanes div h3
{
    font-size:22px;
    font-weight:normal;
    font-style:italic;
    margin: 0px 10px 10px 0px;
    
}

.navpanes div p
{
    font-size:14px;
    text-indent:50px;
    margin: 0px 0px 10px 0px;
}

.navpanes .quote
{
    font-style:italic;
    text-align:center;
    text-indent:0px;
}

/******
/* Navigation CSS
/*/
.no-js nav
{
    display:none;
}

.js nav {
    margin: 10px auto 5px auto;
    padding:0% 31% 0% 0%;
    text-align:right;
}

.js nav a {
    text-align:right;
    padding:0;
    margin:0 !important;
    font-size:14px;
    text-align:center;
    text-decoration:none;
    color:#333;
    padding:0px 10px;
    margin:0px;
    position:relative;
}

.js nav a:active {
    outline:none;
}

.js nav a:hover {
    background-color:#66CCFF;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
}

/* active tab uses a class name "current" */
.js nav a.current {
    cursor:default !important;
    background-color:#66CCFF;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
}

/******
/* Contact CSS
/*/
.contact label
{
    font-size:12px;
    display:block;
    margin-top:5px;
}

.contact div h3
{
    font-size:22px;
    font-weight:normal;
    font-style:italic;
    margin: 0px 10px 10px 0px;
    
}

.contact div p
{
    font-size:12px;
    margin: 0px 0px 10px 0px;
}

textarea {
    resize: none;
} 

/******
/* Footer CSS
/*/
.no-js .footer-wrapper
{
    /* There's a weird issue with no-js due to the tabs plugin I'm using.
     * I hide this footnote and add a simple one to the contact div instead
     */
    display:none;
}

.footer-wrapper
{
    
    margin: 0px auto;
	text-align: center;
	font-size: 10px;
}

.footer-wrapper p
{
    margin: 0px;
    color: gray;
}

.footer-wrapper a
{
    text-decoration:none;
}

/* CSS for the no-js footer */
.js .contact .footer
{
    display:none;
}

.no-js .contact .footer
{
    margin:15px 0px 0px 0px;
    font-size:10px;
}

/* CSS for the flash
 * (Used for email notifications)
 */
.flash
{

	position: relative;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 7px 7px 4px #888;
    padding:5px;
    text-align:center;
}
.notice
{
    background-color:#7FFF65;
}
.error
{
    background-color:#EB4E00;
}
